<div class="new-msg-link">{{#link-to 'messages.new'}}Add a new message{{/link-to}}</div>

{{outlet}}

{{#each model as |message|}}
    <div class="each-msg">{{message.name}}: {{message.body}}</div>
{{/each}}
